.footer-socials {
    margin-left: 0;

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }

         @media screen and (min-width: 1200px) {
            margin-left: 70px;
         }
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    ;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }


}

.social-icon-footer {
    fill: var(--background-color);
}


.social-list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media screen and (min-width: 768px) and (max-width:1199.7px) {
            margin-left: 165px;
            margin-right: 89px;
    
        }
}