.form-checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;

    cursor: pointer;

    &:checked {
            background-color: #2196F3;
            border-color: transparent;
            background-size: contain;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}



.form-checkbox:checked+.box-checkbox .unchecked {
    opacity: 0;
}




.form-checkbox:checked+.box-checkbox .checked {
    opacity: 1;
}




.box-checkbox {
    position: relative;

    & .checked {
            opacity: 0;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

                & .unchecked {
                    opacity: 1;
                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
}

.form-agreement-text {
    user-select: none;
    line-height: calc(24 / 14);
    color: var(--title-text-color);
}

.form-agreement-link {
    line-height: calc(24 / 14);
    color: var(--accent-color);
    margin-top: 20px;
    margin-bottom: 30px;
}