.nav-list {
    display: flex;
            @media screen and (max-width: 767.7px) {
                display: none;
            }
        }


.header-nav {
    margin-right: auto;
   & .link.current {
            color: var(--accent-color);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

